{%  load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Django Todo App</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <!-- Page Title -->
     <header class="title">
        <h1>Django ToDo APP</h1>
     </header>

     <!--Main content Area -->
     <main class="container">
        <section class="contentContainer">
  <!--Left Side Area : Day-->
        <div class="day-section">
            <div class="day">
                <h2>Date</h2>
                <p class="date">27 March 2002</p>
            </div>
            <div class="allTask">
                {% for task in tasks %}
             <div class="task">
                <p>{{task.task}}</p>
                <div class="task-buttons">
                    <a href="{% url 'markAsDone' task.id %}" class="button done">Mark as Done</a>
                    <a class="button delete">Delete</a>
                    <a class="button edit">Edit</a>
                </div>
            </div>
            {% endfor %}
            </div>
          
        </div>

        <!--Right Side - Completed Task-->
        <div class="completed-section">
            <div class="completed_task">
                <h2>Completed Task</h2>
            </div>
            <div class="task-completed">
                {% for task in completedTask %}
                <p>{{forloop.counter}}. {{task.task}}
                     <a href="{% url 'markAsUndo' task.id %}" class="button undo">Undo</a>
                </p>
               
                {% endfor %}
            </div>
        </div>
        </section>
      <section class="add-section">
        <form action="{% url 'addTask' %}" method="POST">
            {% csrf_token %}
        <div class="add-section-addTask">
            <input type="text" placeholder="Enter Task" name="task">
             <button  type="submit" class="add-btn">+ Add</button>
        </div>
        </form>
      </section>
     </main>
</body>
</html>